.MovieCard{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 1px solid gold;
    margin: 10px;    
     
}

img:hover{
    transform: scale(1.1);
	transition: 0.8s ease-in-out; 
    cursor: pointer; 
}

.text{
    text-align: left;
    color: black;
}

.header{
    color: red;
    border: 1px blueviolet solid;
    border-width: 30px;
    width: 500px;
    height: 200px;
    margin-left: 500px;
    margin-top: 30px;
    
}

.deleteIcon:hover{
 cursor: pointer;
}

.form{
    padding: 5px;
    font-size: 20px;
    color: red;
    border: 5px teal solid;
    width: 500px;
    height: 150px;
    margin-left: 500px;
    margin-top: 20px;
    
}

.btn{
    font-size: 20px;
}